<div class="page-header">
<h1>{{project.name}} :: Ajouter une étape
<!-- <span class=" pull-right">
 <a href="#/projectEdit/{{project.id}}" class="btn btn-primary" ng-if="project.completed_on=='0000-00-00 00:00:00'">Editer</a>
 <button ng-click="archive()" class="btn btn-warning" ng-if="project.completed_on=='0000-00-00 00:00:00'">Archiver</button>
 <button ng-click="activate()" class="btn btn-warning" ng-if="project.completed_on !== '0000-00-00 00:00:00'">Activer</button>
 <button ng-click="deleteProject()" class="btn btn-danger">Supprimer</button>
</span> -->
</h1>
<pre ng-if="project.description">{{project.description}}</pre>

</div>
