<h1 class="page-header">Liste des projets <a class="btn btn-primary pull-right" href="#/project/new">Nouveau</a></h1>
<div class="row">
	<div class="col-sm-8">
		<h2>Projets actifs</h2>
		<div class="panel panel-default" ng-repeat="project in projects | filter:isActiveProject | orderBy:'name'">
			<div class="panel-body">
				<h3><a href="#/project/{{project.id}}">{{project.name}}</a></h3>
				<p>{{project.description}}</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Projets archivés</div>
			<div class="panel-body">
				<ul class="projects">
					<li ng-repeat="project in projects | filter:isNotActiveProject">
						<a href="#/project/{{project.id}}">{{project.name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
